<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>unlockt.me</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="description" content="Send locked files & charge to unlock them.">
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
        	        
	<meta property="og:title" content="unlockt.me"/>
	<meta property="og:description" content="Follow the link to unlock the content."/>
	<meta property="og:image" content="https://s3.eu-west-1.amazonaws.com/prod-unlockt-media/blur/blur_0618966f-695e-42ed-ad47-448f018ed8d4.png"/>
	<meta property="og:type" content="website"/>
	<meta property="og:url" content="https://unlockt.me/v/7b3581bc9b"/>
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="unlockt.me">
	<meta name="twitter:description" content="Follow the link to unlock the content.">
	<meta name="twitter:image" content="https://unlockt.me/open_graph/96940603-8f82-48d4-bac1-e72517e36373/twitter">

        	            <link rel="stylesheet" href="./css/style.css">
        

			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
	
	<style>
		html, body {
		  font-family: cash_market !important;
			height: 100%;
			overflow-x: hidden;
		}

		.height-container {
			height: calc(100% - 244px);
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.unique-media {
			position: relative;
			width: 80%;
			margin: auto;
			border-radius: 7.5%;
		}

		#sticky-header header {
			box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.3);
		}

		@keyframes pulse {
			0% {
				transform: scale(1);
			}
			50% {
				transform: scale(1.03);
			}
			100% {
				transform: scale(1);
			}
		}
		.pulse {
			animation: pulse 2s infinite;
		}
	</style>

        	
            <script src="/js/runtime.188fa053.js" defer></script><script src="/js/109.b2b967c0.js" defer></script><script src="/js/313.d5146540.js" defer></script><script src="/build/cookieconsent.f136c137.js" defer></script>

                        <script type="text/javascript">
                                    !function(){"use strict";!function(e,t){var n=e.amplitude||{_q:[],_iq:{}};if(n.invoked)e.console&&console.error&&console.error("Amplitude snippet has been loaded.");else{var r=function(e,t){e.prototype[t]=function(){return this._q.push({name:t,args:Array.prototype.slice.call(arguments,0)}),this}},s=function(e,t,n){return function(r){e._q.push({name:t,args:Array.prototype.slice.call(n,0),resolve:r})}},o=function(e,t,n){e[t]=function(){if(n)return{promise:new Promise(s(e,t,Array.prototype.slice.call(arguments)))}}},i=function(e){for(var t=0;t<m.length;t++)o(e,m[t],!1);for(var n=0;n<g.length;n++)o(e,g[n],!0)};n.invoked=!0;var u=t.createElement("script");u.type="text/javascript",u.integrity="sha384-x0ik2D45ZDEEEpYpEuDpmj05fY91P7EOZkgdKmq4dKL/ZAVcufJ+nULFtGn0HIZE",u.crossOrigin="anonymous",u.async=!0,u.src="https://cdn.amplitude.com/libs/analytics-browser-2.0.0-min.js.gz",u.onload=function(){e.amplitude.runQueuedFunctions||console.log("[Amplitude] Error: could not load SDK")};var a=t.getElementsByTagName("script")[0];a.parentNode.insertBefore(u,a);for(var c=function(){return this._q=[],this},p=["add","append","clearAll","prepend","set","setOnce","unset","preInsert","postInsert","remove","getUserProperties"],l=0;l<p.length;l++)r(c,p[l]);n.Identify=c;for(var d=function(){return this._q=[],this},f=["getEventProperties","setProductId","setQuantity","setPrice","setRevenue","setRevenueType","setEventProperties"],v=0;v<f.length;v++)r(d,f[v]);n.Revenue=d;var m=["getDeviceId","setDeviceId","getSessionId","setSessionId","getUserId","setUserId","setOptOut","setTransport","reset","extendSession"],g=["init","add","remove","track","logEvent","identify","groupIdentify","setGroup","revenue","flush"];i(n),n.createInstance=function(e){return n._iq[e]={_q:[]},i(n._iq[e]),n._iq[e]},e.amplitude=n}}(window,document)}();

                    amplitude.init('bd45871d8c66a2f8101fd0ce974b8b65', '7e281468-a31d-44ff-86d7-964f290af0c8', {
                        transport: 'beacon',
                        flushIntervalMillis: 0,
                        flushQueueSize: 1,
                        defaultTracking: {
                            pageViews: true,
                            sessions: false,
                            attribution: true,
                            fileDownloads: true,
                            formInteractions: false
                        },
                    });

                    const amplitudeEventNameAttribute = 'data-amplitude-event-name';
                    const amplitudePropertyAttribute = 'data-amplitude-property';

                    function getStructuredAmplitudeProperties(element) {
                        const properties = {};

                        for (let i = 0; i < element.attributes.length; i++) {
                            const attr = element.attributes[i];

                            if (attr.name.indexOf(amplitudePropertyAttribute + '-') === 0) {
                                const key = attr.name.substring(amplitudePropertyAttribute.length + 1);
                                const path = key.split('-');
                                let currentLevel = properties;

                                for (let j = 0; j < path.length; j++) {
                                    const part = path[j];
                                    if (j === path.length - 1) {
                                        currentLevel[part] = attr.value;
                                    } else {
                                        if (!currentLevel[part]) {
                                            currentLevel[part] = {};
                                        }
                                        currentLevel = currentLevel[part];
                                    }
                                }
                            }
                        }

                        return properties;
                    }

                    document.addEventListener('DOMContentLoaded', function() {
                        const elements = document.querySelectorAll('[' + amplitudeEventNameAttribute + ']');

                        for (let k = 0; k < elements.length; k++) {
                            elements[k].addEventListener('click', function(e) {
                                const eventName = this.getAttribute(amplitudeEventNameAttribute);
                                const eventProperties = getStructuredAmplitudeProperties(this);
                                amplitude.track(eventName, eventProperties);
                            });
                        }
                    });
                
                window.safeTrackEvent = function(eventName, eventProperties) {
                    if (window.amplitude && typeof window.amplitude.track === 'function') {
                        amplitude.track(eventName, eventProperties);
                    } else {
                        console.warn("Amplitude not available, event not tracked");
                    }
                }
            </script>

                        <script
                type="text/plain"
                data-category="analytics"
                data-service="Instana"
                crossorigin="anonymous"
                src="https://eum.instana.io/eum.min.js">
            </script>
            <script
                type="text/plain"
                data-category="analytics"
                data-service="Instana">
                (function(s,t,a,n){s[t]||(s[t]=a,n=s[a]=function(){n.q.push(arguments)},
                    n.q=[],n.v=2,n.l=1*new Date)})(window,"InstanaEumObject","ineum");

                ineum('reportingUrl', 'https://eum-green-saas.instana.io');
                ineum('key', '-9dGWhjQT3WslUMTFgKF-g');
                ineum('trackSessions');

                window.dispatchEvent(
                    new CustomEvent('instana-loaded')
                );
            </script>

                        <script
                type="text/plain"
                data-category="analytics"
                data-service="Google Analytics"
                src="https://www.googletagmanager.com/gtag/js?id=G-XHWG1ZLWHD">
            </script>
            <script
                type="text/plain"
                data-category="analytics"
                data-service="Google Analytics">
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());
                gtag('config', 'G-XHWG1ZLWHD');
            </script>
            <!-- Google Tag Manager -->
            <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
                })(window,document,'script','dataLayer','GTM-M8J9M4VP');</script>
            <!-- End Google Tag Manager -->
        

	<script>
		window.addEventListener('load', () => {
			const loaders = document.querySelectorAll('.swiper-lazy-preloader');

			for (const loader of loaders) {
				loader.style.display = 'none';
			}
		});

		window.addEventListener('instana-loaded', () => {
			ineum('page', 'shortened');
		});
	</script>

			<script src="/js/841.93d3e8d7.js" defer></script><script src="/js/212.55af5f3a.js" defer></script><script src="/js/thumbs-gallery.2543766d.js" defer></script>
	
	    </head>

    <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M8J9M4VP"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    	<div id="sticky-header" class="sticky top-5 z-10 mb-5">
		<div class="m-auto max-w-640 pulse">
			<div class="sm:w-full w-11/12 mx-auto relative">
				<a href="https://app.adjust.com/126ye01t?campaign=seller&amp;adgroup=payment&amp;creative=312b2b8c-ee15-44f3-a57a-ce23088cf63a">
					<header class="bg-green py-3 overflow-hidden mx-auto px-5 flex flex-col justify-evenly items-start rounded-2xl relative leading-5">
						<p class="font-bold text-white" style="max-width: 85%; font-size: clamp(14px, 2.5vw, 16px);">Monetiza tus stories</p>
						<p class="font-fregular text-white" style="max-width: 75%; font-size: clamp(12px, 2.5vw, 16px);">Pruébalo tú mismo</p>
						<svg style="position: absolute;bottom: -5px;right: 140px;" width="42" height="35" viewBox="0 0 42 35" fill="none">
							<path opacity="0.35" d="M31.5353 8.44344L31.3025 8.88321L31.5353 8.44344ZM22.55 11.3279L22.9937 11.5632L22.55 11.3279ZM34.2995 17.8194L34.7432 18.0548L34.2995 17.8194ZM30.6891 24.9348L30.5709 25.4206C30.7954 25.4801 31.0282 25.3763 31.1328 25.1702L30.6891 24.9348ZM13.1944 20.2999L13.0762 20.7857L13.1944 20.2999ZM5.45289 24.9044L5.93622 25.0324L5.45289 24.9044ZM1.52935 41.03L1.04602 40.9019L1.52935 41.03ZM6.21438 48.9265L6.33367 48.441L6.33367 48.441L6.21438 48.9265ZM17.1536 51.8508L17.0343 52.3364L17.0364 52.3369L17.1536 51.8508ZM29.6631 55.1376L29.5459 55.6237L29.6631 55.1376ZM36.9618 26.6068L36.5181 26.3715C36.4515 26.5027 36.4464 26.658 36.5041 26.7956C36.5618 26.9333 36.6764 27.0392 36.8172 27.0849L36.9618 26.6068ZM39.8614 20.8923L40.3051 21.1277L39.8614 20.8923ZM34.4802 2.63975L34.2473 3.07951L34.4802 2.63975ZM16.9881 8.25498L16.5444 8.0196L16.9881 8.25498ZM15.6263 10.9388L16.07 11.1742L15.6263 10.9388ZM16.9348 15.3771L17.1676 14.9373L16.9348 15.3771ZM21.1882 14.0117L21.6319 14.2471L21.1882 14.0117ZM31.7681 8.00368C28.2637 6.06753 23.9428 7.47315 22.1063 11.0925L22.9937 11.5632C24.593 8.41137 28.3178 7.23418 31.3025 8.88321L31.7681 8.00368ZM34.7432 18.0548C36.5771 14.4407 35.2659 9.93618 31.7681 8.00368L31.3025 8.88321C34.2938 10.5359 35.4578 14.4269 33.8559 17.584L34.7432 18.0548ZM31.1328 25.1702L34.7432 18.0548L33.8559 17.584L30.2454 24.6994L31.1328 25.1702ZM13.0762 20.7857L30.5709 25.4206L30.8073 24.449L13.3126 19.8141L13.0762 20.7857ZM5.93622 25.0324C6.71111 21.8476 9.90777 19.9463 13.0762 20.7857L13.3126 19.8141C9.61032 18.8332 5.87503 21.0549 4.96957 24.7763L5.93622 25.0324ZM2.01268 41.158L5.93622 25.0324L4.96957 24.7763L1.04602 40.9019L2.01268 41.158ZM6.33367 48.441C3.17202 47.5958 1.239 44.3377 2.01268 41.158L1.04602 40.9019C0.14199 44.6174 2.40072 48.4245 6.0951 49.4121L6.33367 48.441ZM17.2729 51.3653L6.33367 48.441L6.0951 49.4121L17.0343 52.3364L17.2729 51.3653ZM29.7803 54.6515L17.2708 51.3647L17.0364 52.3369L29.5459 55.6237L29.7803 54.6515ZM36.9085 50.4017C36.1347 53.5819 32.9457 55.4831 29.7803 54.6515L29.5459 55.6237C33.2446 56.5955 36.971 54.3738 37.8752 50.6578L36.9085 50.4017ZM40.8318 34.2773L36.9085 50.4017L37.8752 50.6578L41.7984 34.5334L40.8318 34.2773ZM36.8172 27.0849C39.7951 28.0519 41.5803 31.2009 40.8318 34.2773L41.7984 34.5334C42.6731 30.9383 40.5871 27.2591 37.1064 26.1288L36.8172 27.0849ZM39.4177 20.6569L36.5181 26.3715L37.4055 26.8422L40.3051 21.1277L39.4177 20.6569ZM34.2473 3.07951C40.3104 6.4293 42.6461 14.2945 39.4177 20.6569L40.3051 21.1277C43.7653 14.3083 41.2825 5.82959 34.713 2.19998L34.2473 3.07951ZM17.4318 8.49035C20.6575 2.13319 28.1909 -0.266629 34.2473 3.07951L34.713 2.19998C28.1368 -1.43328 20.0073 1.19496 16.5444 8.0196L17.4318 8.49035ZM16.07 11.1742L17.4318 8.49035L16.5444 8.0196L15.1827 10.7034L16.07 11.1742ZM17.1676 14.9373C15.885 14.2287 15.3728 12.5483 16.07 11.1742L15.1827 10.7034C14.2535 12.5346 14.9129 14.8284 16.702 15.8168L17.1676 14.9373ZM20.7445 13.7763C20.0499 15.1452 18.4437 15.6423 17.1676 14.9373L16.702 15.8168C18.4977 16.809 20.7001 16.0834 21.6319 14.2471L20.7445 13.7763ZM22.1063 11.0925L20.7445 13.7763L21.6319 14.2471L22.9937 11.5632L22.1063 11.0925Z" fill="#F7F7F7"/>
						</svg>
						<svg style="position: absolute;bottom: 5px;right: 90px;" width="43" height="57" viewBox="0 0 43 57" fill="none">
							<path opacity="0.35" d="M13.2834 7.41679L13.3433 7.91664L13.2834 7.41679ZM7.62055 15.2469L7.1301 15.3257L7.62055 15.2469ZM20.7873 13.3259L21.2778 13.2471L20.7873 13.3259ZM21.8557 21.2995L22.0332 21.7669C22.2476 21.6783 22.3772 21.4521 22.3462 21.2207L21.8557 21.2995ZM5.05416 28.2458L4.87667 27.7784L5.05416 28.2458ZM1.3917 36.72L1.85376 36.529L1.3917 36.72ZM7.2505 52.1503L7.71257 51.9593L7.2505 52.1503ZM15.4681 55.713L15.6445 56.1808L15.6445 56.1808L15.4681 55.713ZM25.9951 51.3881L26.1715 51.856L26.1735 51.8551L25.9951 51.3881ZM37.9982 46.397L38.1766 46.8641L37.9982 46.397ZM41.6486 37.9278L42.1106 37.7368L41.6486 37.9278ZM35.7902 22.4987L35.3281 22.6897L35.7902 22.4987ZM27.878 18.8193L27.3876 18.8981C27.4074 19.046 27.4907 19.1758 27.6149 19.2527C27.7392 19.3295 27.8916 19.3454 28.0311 19.2961L27.878 18.8193ZM27.0201 12.4165L27.5105 12.3377L27.0201 12.4165ZM12.412 0.913051L12.3521 0.413198L12.412 0.913051ZM1.3878 16.1563L0.897349 16.2351L1.3878 16.1563ZM1.79079 19.1638L2.28124 19.085L1.79079 19.1638ZM5.34291 21.961L5.40276 22.4609L5.34291 21.961ZM8.02355 18.2545L8.51399 18.1757L8.02355 18.2545ZM13.2236 6.91694C9.30064 7.4893 6.58622 11.2668 7.1301 15.3257L8.111 15.1681C7.63812 11.6391 9.99443 8.40524 13.3433 7.91664L13.2236 6.91694ZM21.2778 13.2471C20.7346 9.19317 17.1405 6.34545 13.2236 6.91694L13.3433 7.91664C16.6981 7.42717 19.8233 9.87063 20.2969 13.4047L21.2778 13.2471ZM22.3462 21.2207L21.2778 13.2471L20.2969 13.4047L21.3653 21.3783L22.3462 21.2207ZM5.23164 28.7132L22.0332 21.7669L21.6783 20.8321L4.87667 27.7784L5.23164 28.7132ZM1.85376 36.529C0.690284 33.4648 2.20261 29.9655 5.23164 28.7132L4.87667 27.7784C1.33726 29.2417 -0.429896 33.3305 0.929628 36.9111L1.85376 36.529ZM7.71257 51.9593L1.85376 36.529L0.929628 36.9111L6.78843 52.3413L7.71257 51.9593ZM15.2916 55.2451C12.2648 56.4886 8.87422 55.0187 7.71257 51.9593L6.78843 52.3413C8.14582 55.9163 12.1077 57.6339 15.6445 56.1808L15.2916 55.2451ZM25.8186 50.9202L15.2916 55.2451L15.6445 56.1808L26.1715 51.856L25.8186 50.9202ZM37.8198 45.93L25.8166 50.921L26.1735 51.8551L38.1766 46.8641L37.8198 45.93ZM41.1865 38.1188C42.3483 41.1787 40.8421 44.6733 37.8198 45.93L38.1766 46.8641C41.7082 45.3956 43.4682 41.3122 42.1106 37.7368L41.1865 38.1188ZM35.3281 22.6897L41.1865 38.1188L42.1106 37.7368L36.2522 22.3076L35.3281 22.6897ZM28.0311 19.2961C30.9826 18.2529 34.2022 19.7243 35.3281 22.6897L36.2522 22.3076C34.9365 18.8423 31.1745 17.1232 27.7249 18.3426L28.0311 19.2961ZM26.5296 12.4953L27.3876 18.8981L28.3685 18.7405L27.5105 12.3377L26.5296 12.4953ZM12.4718 1.4129C19.2689 0.421201 25.5748 5.36935 26.5296 12.4953L27.5105 12.3377C26.486 4.69189 19.7113 -0.660514 12.3521 0.413197L12.4718 1.4129ZM1.87825 16.0775C0.924068 8.95652 5.6807 2.40373 12.4718 1.4129L12.3521 0.413198C4.98691 1.48778 -0.127828 8.58426 0.897349 16.2351L1.87825 16.0775ZM2.28124 19.085L1.87825 16.0775L0.897349 16.2351L1.30034 19.2426L2.28124 19.085ZM5.28305 21.4612C3.84297 21.6713 2.48706 20.6211 2.28124 19.085L1.30034 19.2426C1.57583 21.2985 3.40059 22.753 5.40276 22.4609L5.28305 21.4612ZM7.5331 18.3332C7.73825 19.8643 6.71714 21.2519 5.28305 21.4612L5.40276 22.4609C7.41093 22.1679 8.79014 20.2365 8.51399 18.1757L7.5331 18.3332ZM7.1301 15.3257L7.5331 18.3332L8.51399 18.1757L8.111 15.1681L7.1301 15.3257Z" fill="#F7F7F7"/>
						</svg>
						<svg style="position: absolute;bottom: -5px;right: 0;" width="41" height="36" viewBox="0 0 41 36" fill="none">
							<path opacity="0.35" d="M32.3282 8.3263L32.5813 7.89835L32.3282 8.3263ZM23.2178 10.7459L23.6492 11.004L23.2178 10.7459ZM34.647 17.8328L34.2157 17.5748L34.647 17.8328ZM30.7053 24.7546L30.5642 25.2342C30.7853 25.3051 31.0224 25.2133 31.1367 25.0126L30.7053 24.7546ZM5.49766 23.4346L5.97383 23.5871L5.49766 23.4346ZM0.822361 39.3262L0.346196 39.1737L0.822361 39.3262ZM5.12062 47.4581L4.97844 47.9374L4.97844 47.9374L5.12062 47.4581ZM15.9156 50.9426L15.7734 51.4219L15.7754 51.4226L15.9156 50.9426ZM28.2618 54.8698L28.402 54.3898L28.2618 54.8698ZM36.8917 26.7464L36.4603 26.4884C36.3875 26.6162 36.375 26.7713 36.426 26.912C36.4771 27.0526 36.5865 27.1643 36.7249 27.2171L36.8917 26.7464ZM40.0573 21.1875L40.4887 21.4456L40.0573 21.1875ZM35.5432 2.68082L35.7962 2.25287L35.5432 2.68082ZM17.8076 7.39122L17.3762 7.13319L17.8076 7.39122ZM16.3209 10.0019L16.7522 10.2599L16.3209 10.0019ZM17.4185 14.502L17.6716 14.074L17.4185 14.502ZM21.7311 13.3566L21.2998 13.0986L21.7311 13.3566ZM32.5813 7.89835C29.1737 5.7854 24.7919 6.96634 22.7864 10.4879L23.6492 11.004C25.3946 7.93889 29.1706 6.95322 32.0752 8.75425L32.5813 7.89835ZM35.0784 18.0908C37.0811 14.5741 35.9829 10.0076 32.5813 7.89835L32.0752 8.75425C34.9858 10.559 35.9639 14.5049 34.2157 17.5748L35.0784 18.0908ZM31.1367 25.0126L35.0784 18.0908L34.2157 17.5748L30.2739 24.4965L31.1367 25.0126ZM13.3007 19.7041L30.5642 25.2342L30.8464 24.2749L13.583 18.7448L13.3007 19.7041ZM5.97383 23.5871C6.89892 20.4427 10.1793 18.7042 13.3007 19.7041L13.583 18.7448C9.93556 17.5764 6.10246 19.6078 5.0215 23.282L5.97383 23.5871ZM1.29853 39.4788L5.97383 23.5871L5.0215 23.282L0.346196 39.1737L1.29853 39.4788ZM5.2628 46.9787C2.14833 45.9734 0.374896 42.6182 1.29853 39.4788L0.346196 39.1737C-0.733065 42.8422 1.33919 46.7627 4.97844 47.9374L5.2628 46.9787ZM16.0577 50.4633L5.2628 46.9787L4.97844 47.9374L15.7734 51.4219L16.0577 50.4633ZM28.402 54.3898L16.0557 50.4626L15.7754 51.4226L28.1217 55.3498L28.402 54.3898ZM35.7173 50.5031C34.7936 53.643 31.5208 55.3819 28.402 54.3898L28.1217 55.3498C31.766 56.509 35.5903 54.4772 36.6697 50.8082L35.7173 50.5031ZM40.3923 34.6126L35.7173 50.5031L36.6697 50.8082L41.3446 34.9177L40.3923 34.6126ZM36.7249 27.2171C39.6531 28.3333 41.2864 31.5737 40.3923 34.6126L41.3446 34.9177C42.3894 31.3663 40.4809 27.5804 37.0584 26.2757L36.7249 27.2171ZM39.6259 20.9295L36.4603 26.4884L37.3231 27.0044L40.4887 21.4456L39.6259 20.9295ZM35.2901 3.10876C41.1887 6.76627 43.1497 14.7417 39.6259 20.9295L40.4887 21.4456C44.2669 14.8109 42.1858 6.21485 35.7962 2.25287L35.2901 3.10876ZM18.2389 7.64924C21.76 1.46627 29.3975 -0.54502 35.2901 3.10876L35.7962 2.25287C29.4006 -1.71284 21.1572 0.493713 17.3762 7.13319L18.2389 7.64924ZM16.7522 10.2599L18.2389 7.64924L17.3762 7.13319L15.8895 9.74384L16.7522 10.2599ZM17.6716 14.074C16.4231 13.2999 15.9917 11.5954 16.7522 10.2599L15.8895 9.74384C14.8745 11.5262 15.426 13.8513 17.1655 14.9299L17.6716 14.074ZM21.2998 13.0986C20.542 14.4293 18.9141 14.8444 17.6716 14.074L17.1655 14.9299C18.911 16.0123 21.1447 15.4018 22.1625 13.6146L21.2998 13.0986ZM22.7864 10.4879L21.2998 13.0986L22.1625 13.6146L23.6492 11.004L22.7864 10.4879Z" fill="#F7F7F7"/>
						</svg>
					</header>
				</a>
				<div style="right: 5%;bottom:-10px" class="w-20 absolute">
					<img src="https://unlockt.me/images/avatar.png" />
				</div>
			</div>
		</div>
	</div>
	<div class="flex items-center h-16">
		<img class="max-w-35vw max mx-auto" alt="logo" src="https://unlockt.me/images/logo-black.svg"/>
	</div>

        	<div id="content" class="w-full h-full m-auto max-w-640 bg-white">
						<style>
		.swiper-height-container {
			/* 100% - sticky header - payment banner - banner bottom - logo unlockt (25 * 3rem padding = 72) - 24 margin-top */
			/* 100% - 84px - 76px - 20px - 64px - 24px */
			height: calc(100% - 268px);
			margin-top: 24px;
		}
		.swiper-lazy-preloader {
			border: 4px solid white !important;
			border-top-color: transparent !important;
		}

		/* INITIALIZATION */
		.swiper-top:not(.swiper-initialized) .swiper-wrapper {
			transform: translateX(calc(100% * 1 / 10));
		}
		.swiper-top:not(.swiper-initialized) .swiper-slide {
			width: calc(100% * 4 / 5);
			margin-right: 100px;
		}
		.swiper-bottom:not(.swiper-initialized) .swiper-wrapper {
			width: 80%;
		}
		.swiper-bottom:not(.swiper-initialized) .swiper-slide {
			width: 20%;
			margin-left: 5px;
			margin-right: 5px;
		}
		.swiper-bottom:not(.swiper-initialized):first-child .swiper-slide {
			margin-left: 0;
		}

		/* READY */
		.swiper-top {
			width: 100%;
			padding-bottom: 10px !important;
		}
		.swiper-top .swiper-slide {
			box-shadow: 2px 2px 5px 2px rgba(20, 20, 20, 0.14);
		}

		.swiper-bottom-container {
			display: flex;
			border-radius: 7.5%;
			width: 80%;
			margin-top: 8px;
		}
		.swiper-bottom {
			width: calc(100% * 2 / 3);
		}

		.swiper-slide {
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 20px;
			line-height: 28px;
			overflow: hidden;
			border-radius: 7.5%;
		}

		.swiper-img {
			border-radius: 7.5%;
			background-size: cover;
			background-position: 50% 0;
			width: 100%;
			padding-bottom: 100%;
		}
		.swiper-bottom .swiper-img {
			border-radius: 20%;
		}

		.swiper-bottom .swiper-slide-thumb-active {
			border-radius: 20%;
			border: solid 2px #00B743;
		}

		.swiper-img p,
		.swiper-img img {
			filter: drop-shadow(0px 0px 5px rgba(0,0,0,0.4));
		}

		/* NAVIGATION BUTTON */
		.navigation-button {
			width: 32px;
			height: 32px;
			margin-top: 0;
			top: 0;
			position: relative;
			color: #000;
			border-radius: 100%;
			background-color: #F7F7F7;
		}
		.navigation-button::after {
			font-size: 0;
		}
		.swiper-button-prev {
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			background-image: url("data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAAIAAAACACAYAAADDPmHLAAAACXBIWXMAACxLAAAsSwGlPZapAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAkrSURBVHgB7Z09bBRHFMef96I7PhRi6iCx7gINpoF0nPsoGCUV+cCuEikFpoF8ScZSonw0QEFCZwgJFWCog+SlS9LgNIbOgwRpbYx92AbbeW89e+zd7e7t+vZrZt5PWu/d3tp3vvefN2/efPWBhrx48cK2LGtwfX2dzvs3Nzf78bItD/Cd2xF9fX0LeP8Cnen5xsbGY3w8U6lUFqrV6gxoRh8oDhkbT3U00iE6o8FsfNwPGSCFMSOP+/heMzt37hSgMMoJgErzysrKIBrgOD4ehvDSnAskBvwc5BmuoRgcUAxlBIAlvY6nU2T0rEp4r0gPcQernbu1Wu0OKECpBbC0tDSIdS+V9LGyGj0CgYeDx0SZq4lSCkCW9nE86qAHDmwJwYGSUSoBaGj4dgRsCeEqlIRSCMAAw7cjoCRCKFQAsgk3CeYYvgUKGDG+OVNkjGBBAVBTDo1PJX4ODDU+IZuxc/RdyGRV7uTuAaS7p1JvA+NH4DGad6CYmweQCZwL+HAa2PhB2HhMNxqNC5AjuXgAWdez4eMj8BjKIzbI3AOsra1R9u4BsPGTQP0ZD9AbjEHGZOoByOVTFg+YXjiPnmACMiITAcgofxJVPAxMz1BzEfsWRmUXdbp/G1KG6nv8oFMogkFg0kRABnFBqgLgYC9zBKQsgtQEwMbPDQEpiiAVAbDxc0dASiLoWQBs/MIQkIIIesoDyPw1G78YvGC7pz6EngRATT1g4xcGtbRWV1cnoQe2LQB843Fu5xcP9Sj20n+wrRgAM3yn8Y0vAlMaKpXKSLVavQYJSSwACvoot6/gIE2tkRNaDicNCrdTBUyz8cuHF5AnDQoTCUD259vAlBVbjrSKTewqQI7kmQZGBYbijiyK5QGkW+mpucHkymTcqiCWANbW1k4Du36VsOMOJulaBchU7xwwKjLQrVXQ1QOgK8l1kCKTKl2r7UgBYOkf4Wyf0tRl8B5KZBWAv0yu3wZGZRysBobCXgz1AFT6gY2vA5FeINQDcOnXilAvEOgBpGJsYHQh1AuEVQGJ0omMEgTatEMA3qpbwDRZXFyEW7en4K+//wGFqWNCr2Oo/hsBN3Lp93Hz1m347vsfXBEQ+/a9DTd+v + 6eVePly5fUpG9Z67AjCOTg7zVk/LPnvuq4/u7RI3Djj+ugGjRmYMeOHXv911qqgOXl5cLX3SsLYcYnqCp48uQpqIacslf3X2sRgGVZx4GJNL7H4vPnoCJo41Mtz/1P5JIlRhPH+FT/HzzwDqgI2djfVdwUALkG04d6xTU+BYGq4i216z33e4BTYDBJjK9iC8CP39M3BYCl39jp3CYZn6CFtpuP6YfJgz5MM74Pd7CI6wE2NjaMLP0GG5+o0w9XAOgS6mAYhhsfvBVcPAEcAoMw3fiSY/TDFYBJ6/mw8bfAhJBN5z7qIVpfX38ABsDG72DAQuMbkfxh43dCwb9lgvtn4weDsZ9NMYANGsPGj4T2VbT2g6aw8aOpVCpvWUVtVJA1bPzu0Cablo49gGz82NjaeQA2fjL6sCNoEzThz3v34LPPv4i8h43fijYCoFG7770/HDlWj43fSSG7hmUBlX42fnK0EcDs7KPQ19j44WgjgCgWF58rO4o3a7QRwNGjR0Jfo/jg5EefwOzDR8C0QgIQoAE0WyfKxbMIAhHaeIA9e/bAlV8uu+cwWAStYA5oQRsPQBw8eACDvd9YBDGhuYIkgMegESyC+KAHeEap4NT3oisaFkFshFZVgB8WQSwEeQABmsIiiAZjgBkaEDIDGsMiCKdSqSy4U8Majca87jODZ2cfwsmPP20u9RIEiYRW/lB16ncSvNVC3DwAegEBmsOeoBWs+l3P780NvA8GwCJ4DQrgXzp7U8O0jgP8sAi2QAE4dPZSwQ4YBIng22++jrxHdxF4wb8rALmpgACD+PCDE/DzTz9G3qOrCKj+9zaSsHwX74JhmCoCbP41q3z/EjF3wEBMFAEG/c0dRpsrhc7Pz/fXarU5U1cKu3lrCs6e+zLyHh3yBO2rhTY9wN69exfwReOqAQ9TPEG7p28fEHIVDCaJCKIyimXm1atXLYW8RQC026SO3cNJiCuCJ0//AwURu3fvjvQA5CIugeHEEYGKYNvf6bjWfgGbCEa2BtqJEoGqawVj9D/Rfq1DANVqldqIDjCuCK78erlltLG7V4CaawU7QbuIBu4axjuFd0J7BOx58003jawogTuKR20bRwKoA6MDAo0/EPRC1LyACWB0IdSW3baOZS+gPqGln+g2M4i9gPpE2jDSAxDsBdSF0r6Y9z8ReQ90weS9BDRgIKjp56fr5FD5B7gqUAxK+nQzPtHVAxDUVYyuhBaUtoFRAYH2Okxdv91ujDU9nLqK8TQKjCqMxjE+EXt9ANlTaHxHUdkhGwVl/MKIVQV4cFVQeiLb/EEkWiFEVgVDpo8ZKCPSJkOQkMRLxFBkifXLGWDKRqyov51trRGEb3SV44HyQE2+Xbt2XYRtkCgGaKfRaEyhNzB+w+kiiZPti6KnVcJWV1dHTZpXWEJErVbrqXnekwAoKMSqgNQngMkbgcdQ3PZ+GD1VAR6yv4A6jWxg8kDA1ggfAT2SigAIFkFuCEjJ+ERqAiBYBJkjIEXjE6kuFSs/GCUjBDCpIoPtVI1PpL5WMH3AlZWVwxgc8vyClKCmHkb7qRvf/duQIVglnMfTODDbhhJumOQZg4zIVAAEeoMxzFSNmzrtfLtQbp9S7pR1hQzJXAAEB4eJEZBBfR9ELvsF0D9C3ZTcf9Ad+o5oNE8exidy8QB+5LSzSWBv0I7AYzTJYI40yH3HEPoHqZUAPNDUz4Qs9Q7kTO4ewA/FBhjoXEC3Z2qPogNbpV5AQRQqAA8UwghsNRdtMAMHtgZwOFAwpRCAhwFCcKAkhvcolQA8ZKBIQqiDHjhQMsN7lFIAHhQjYBLpvGVZx0AxryATOZdoyR256kopKbUA/CwvL1OgOIxf6vGyZhWl0akP5FoZS3sQygjAD1UR6BlGsHQdwi99EIpF0DrLcmzeTK8jdPJGSQH4kdXEIH7xdTxcQWTlIdydNi1L0AYbsnvWKbIJlwbKCyCIpaWlQfQO/dI72HjsJ1HQgdf6ITyeEL4zlexn8ixofX3VjR3E/1PPmOg4RFozAAAAAElFTkSuQmCC") !important;
		}
		.swiper-button-next {
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			background-image: url("data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAAIAAAACACAYAAADDPmHLAAAACXBIWXMAACxLAAAsSwGlPZapAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAjtSURBVHgB7Z1LbxRHEMfLs5GXh+LYZ5AYH8MF + 5LkxlqCM4TcokTY9wSbQ0hyMv4EQB5KbjYJ4hTARLl7uOUhBecTuJHw2QbZi72AnarZnvXsep6eZ3fXTxr37uxiL1v/rq6ufg2Bhrx69cq2LGvi7du3VJ7Z398fxdu2vMBXDiKGhoY28f2bVNLzvb29Z/h4tdFobA4PD6+CZgyB4pCxsWihkc5RiQaz8fEoFIAUxqq8nuDfWj1+/LgAhVFOAFSbd3Z2JtAAl/DxZQivzaVAYsDPQZ7hLorBAcVQRgBY01tYXCWjF1XDsyI9xDI2O4+bzeYyKECtBbC1tTWBbS/V9Lm6Gj0CgZeD10Kdm4laCkDW9nm8WqAHDnSF4EDNqJUANDT8IAK6QliCmlALARhg+EEE1EQIlQpAduEWwRzD90EBI8Y316uMESyoAOrKofGpxq+BocYnZDd2jb4LmawqndI9gHT3VOttYPwIvGbKDhRL8wAygXMLH64AGz8IG6+Vdrt9C0qkFA8g23o2fHIEXlNlxAaFe4BOp0PZu6fAxk8DjWc8RW8wBwVTqAcgl09ZPGCycBM9wQIURCECkFH+Iqr4MjCZoe4iji3MyCHqfH835Ay19/hBH6EIJoDJEwEFxAW5CoCDvcIRkLMIchMAG780BOQoglwEwMYvHQE5iSCzANj4lSEgBxFkygPI/DUbvxq8YDvTGEImAVBXD9j4lUE9rd3d3UXIwJEFgH94nvv51UMjilnGD44UA2CGbxb/8G1gakOj0ZgeHh6+CylJLQAK+ii3r+AkTa2RC1om0waFR2kCVtj49cMLyNMGhakEIMfzbWDqii1nWiUmcRMgZ/KsAKMCU0lnFiXyANKtZOpuMKWymLQpSCSATqczC+z6VcJOOpkktgmQqd41YFRkPK5XEOsB0JWUOkmRyZXYZjtSAFj7pznbpzQtGbyHEtkE4D8m128DozIONgNTYS+GegCq/cDG14FILxDqAbj2a0WoFwj0AFIxNjC6EOoFwpqAVOlERgkCbXqoCVC93//nX3/D+vo6jIy8CxcvXADmABwynhzc6u6dgPcpW/vvfPc9Xj/0np8+fQru3/vVLRmA169fU5e+TwBBHkDJ4O/Bw4fw1Y1vD91nERxAcwaOHTs25r/XFwNsb29Xvu/eUSHXH8Tz5+vw6Wefu6XpyCV7Lf+9PgFYlnUJNIRFcADa+Grfc/8TuWWJknxy5Urk6yyCLmRj/1BxTwDkGlSe6vXRhx/A7LUvI9/DIjjYatd77vcAV0FxZq99wSJIgN/T9wSAtV+L5dwsgnhoo+3eY/qh46QPygdQXiAKw7uI7mQR1wPs7e1pt5kDe4JYWvTDFQC6hBZoCIsgHG8HF08A50BTWAShnKcfrgB038+HRXAYTAjZVA51Oh06XOkpGAAHhocYt9D4xqzzY0/QDwX/lmnbubEIDsDYz6YYwAbDYBH0oHMVrTNgICwCd4bQe1ZVBxXUAdNFQIdsWqZv9mC4CGyjPYCHySIYwoGgfWBckuYJ/vh9GUZGRkAHKjk0qq4k9QSLS6k346ot7AECiPMEVPtX//0HdIA9QABxnuDly5faxAIsgBDW15+DCbAAArjx9Tfw24NHoa9TIKjLYBEJQADTI874RNwUdIUQ7AF8JDH+2bPvuzGCDmAOaJM9gCSp8e/f+wV0gdYKkgCegeGkMb4uCSACPcALSgXnfhadSphqfIkwugkw3PiEIA8gwEDY+G4MsEoTQlbBMNj4XRqNxqa7NKzdbm+YMi+Ajd/F2y3EzQOgFxBgAGz8A7Dpdz2/tzbwCWgOG78fFMB/VHpLw7SOA9j4h0EBOFR6qWAHNIWNH4wX/LsCkIcKCNAMNn4w1P57B0lYvpuPQSPY+OFg96/X5Pu3iFkGTWDjR4NBf29SY2+n0I2NjdFms7mmej6AjR/N4G6hPQ8wNja2iS8q3Qyw8eMZ9PSDE0KWQFFor2A2fjxv3rzpq+R9AqDTJlUdHg7bK9iDje8iTp48GekByEXcAQUZeTfcsGz8Ltj3dw7dG7yBXQQlewMXLwYfDsHGPwCj/4XBe4cEIE+UcEAxaK/gn3/6sW+6NomCjd/DCTpFNPDUMNVPCqd44PQpfebu50TgieJRx8aRAFrA6IBA448HvRC1LmABGF0ItWXc0bHsBdQntPYTcSuD2AuoT6QNIz0AwV5AXSjti3n/jyPfAzHoeJaAQYwHdf38xC4Olb+AmwLFoKRPnPGJWA9A0FAxuhLaUNoGRgUE2muShn7j3phoeTgNFWMxA4wqzCQxPpF4fwA5UqjkQJFJkI2CMn5hJGoCPLgpqD2Rff4gUu0QIpuCKdOXlNcRaZMpSEnqLWIossT25TowdSNR1D/IkfYIwj+0xPFAfaAu34kTJ27DEUgVAwzSbrcfoTdQ9sBpHUiS7Ysi0y5hu7u7M7qvK6w5otlsZuqeZxIABYXYFJD6BDBlI/CaStrfDyNTE+Ahxwto0MgGpgwEdGf4CMhILgIgWASlISAn4xO5CYBgERSOgByNT+S6Vaz8YJSMEMDkigy2czU+kftewfQBd3Z2JjE41Ga1cdVQVw+j/dyN7/5uKBBsEm5iMQ/MkaGEGyZ55qAgChUAgd5gDjNV86YfT5cWyu1Typ2yrlAghQuA4OAwNQIKaO+DKOW8APqP0DAljx/EQ98RzeYpw/hEKR7Aj1x2tgjsDQYReM2kmcyRB6WfGEL/QeolAE809bMga70DJVO6B/BDsQEGOrfQ7Zk6ouhAt9YLqIhKBeCBQpiGbnfRBjNwoDuBw4GKqYUAPAwQggM1MbxHrQTgIQNFEkIL9MCBmhneo5YC8KAYAZNINy3LOg+KeQWZyLlDW+7IXVdqSa0F4Gd7e5sCxcv4pV6qa1ZRGp3GQO7WsbYHoYwA/FATgZ5hGmvXOfzSJ6BaBO2zLOfmrWadoVM2SgrAj2wmJvCLb+HlCqIoD+GetGlZgg7YkMOzTpVduDxQXgBBbG1tTaB3GJXewcbrDImCLrw3CuHxhPCVVLNfyFLQ/vqqGzuI/wGrzYGDvohLuAAAAABJRU5ErkJggg==") !important;
		}
	</style>

<div class="swiper-height-container flex flex-col items-center justify-start relative xs:p-1 sm:p-5">
		<div class="swiper swiper-top">
		<div class="swiper-wrapper">
							<div class="swiper-slide">
					<div class="swiper-lazy-preloader"></div>
					<div class="swiper-img relative" style="background-image: url('img/thumbnails/blur_4e500cc8-995a-40af-b370-6f8c273c4c1b.png')">
						    <div class="absolute top-2 left-2 xs:top-4 xs:left-3 sm:top-6 sm:left-4 md:top-8 xl:top-5 xl:left-3 flex flex-row items-center">
        <img class="w-7 lg:w-9 xl:w-10 mr-1.5" alt="logo" src="https://unlockt.me/images/play.svg"/>
                    <p class="font-inter font-bold text-white text-sm xs:text-base sm:text-lg xl:text-xl">1:00</p>
            </div>
					</div>
				</div>
							<div class="swiper-slide">
					<div class="swiper-lazy-preloader"></div>
					<div class="swiper-img relative" style="background-image: url(img/thumbnails/blur_6b7125af-f884-43e0-ae49-a2cce060311d.png)">
						    <div class="absolute top-2 left-2 xs:top-4 xs:left-3 sm:top-6 sm:left-4 md:top-8 xl:top-5 xl:left-3 flex flex-row items-center">
        <img class="w-7 lg:w-9 xl:w-10 mr-1.5" alt="logo" src="https://unlockt.me/images/play.svg"/>
                    <p class="font-inter font-bold text-white text-sm xs:text-base sm:text-lg xl:text-xl">2:48</p>
            </div>
					</div>
				</div>
							<div class="swiper-slide">
					<div class="swiper-lazy-preloader"></div>
					<div class="swiper-img relative" style="background-image: url('img/thumbnails/blur_91dd0d89-6ade-4a64-b594-588f3eba4a2d.png')">
						    <div class="absolute top-2 left-2 xs:top-4 xs:left-3 sm:top-6 sm:left-4 md:top-8 xl:top-5 xl:left-3 flex flex-row items-center">
        <img class="w-7 lg:w-9 xl:w-10 mr-1.5" alt="logo" src="https://unlockt.me/images/play.svg"/>
                    <p class="font-inter font-bold text-white text-sm xs:text-base sm:text-lg xl:text-xl">1:02</p>
            </div>
					</div>
				</div>
							<div class="swiper-slide">
					<div class="swiper-lazy-preloader"></div>
					<div class="swiper-img relative" style="background-image: url('img/thumbnails/blur_64378420-f6f9-4bce-a0bf-5da1af61c7b9.png')">
						    <div class="absolute top-2 left-2 xs:top-4 xs:left-3 sm:top-6 sm:left-4 md:top-8 xl:top-5 xl:left-3 flex flex-row items-center">
        <img class="w-7 lg:w-9 xl:w-10 mr-1.5" alt="logo" src="https://unlockt.me/images/play.svg"/>
                    <p class="font-inter font-bold text-white text-sm xs:text-base sm:text-lg xl:text-xl">0:56</p>
            </div>
					</div>
				</div>
							<div class="swiper-slide">
					<div class="swiper-lazy-preloader"></div>
					<div class="swiper-img relative" style="background-image: url('img/thumbnails/blur_c14f4333-52cb-4114-b1f6-b276f819b27b.png')">
											</div>
				</div>
							<div class="swiper-slide">
					<div class="swiper-lazy-preloader"></div>
					<div class="swiper-img relative" style="background-image: url('img/thumbnails/blur_cbdcdd80-7b75-468e-ac15-255b739516a3.png')">
											</div>
				</div>
							<div class="swiper-slide">
					<div class="swiper-lazy-preloader"></div>
					<div class="swiper-img relative" style="background-image: url('img/thumbnails/blur_d03453da-1de9-4d22-af3b-12094e3a54f5.png')">
											</div>
				</div>
							<div class="swiper-slide">
					<div class="swiper-lazy-preloader"></div>
					<div class="swiper-img relative" style="background-image: url('img/thumbnails/blur_f37dff27-d3c3-4328-a168-5c95e050a10d.png')">
											</div>
				</div>
					</div>
	</div>

	<div class="relative swiper-bottom-container items-center">
		<div class="swiper-button-prev navigation-button"></div>
		<div thumbsslider="" class="swiper swiper-bottom">
			<div class="swiper-wrapper">
									<div class="swiper-slide">
						<div class="swiper-img relative" style="background-image: url('img/thumbnails/blur_4e500cc8-995a-40af-b370-6f8c273c4c1b.png')"></div>
													<div class="video absolute flex flex-row items-center">
								<img class="w-7 lg:w-9 xl:w-10" alt="logo" src="https://unlockt.me/images/play.svg"/>
							</div>
											</div>
									<div class="swiper-slide">
						<div class="swiper-img relative" style="background-image: url('img/thumbnails/blur_6b7125af-f884-43e0-ae49-a2cce060311d.png')"></div>
													<div class="video absolute flex flex-row items-center">
								<img class="w-7 lg:w-9 xl:w-10" alt="logo" src="https://unlockt.me/images/play.svg"/>
							</div>
											</div>
									<div class="swiper-slide">
						<div class="swiper-img relative" style="background-image: url('img/thumbnails/blur_91dd0d89-6ade-4a64-b594-588f3eba4a2d.png')"></div>
													<div class="video absolute flex flex-row items-center">
								<img class="w-7 lg:w-9 xl:w-10" alt="logo" src="https://unlockt.me/images/play.svg"/>
							</div>
											</div>
									<div class="swiper-slide">
						<div class="swiper-img relative" style="background-image: url('img/thumbnails/blur_64378420-f6f9-4bce-a0bf-5da1af61c7b9.png')"></div>
													<div class="video absolute flex flex-row items-center">
								<img class="w-7 lg:w-9 xl:w-10" alt="logo" src="https://unlockt.me/images/play.svg"/>
							</div>
											</div>
									<div class="swiper-slide">
						<div class="swiper-img relative" style="background-image: url(img/thumbnails/blur_c14f4333-52cb-4114-b1f6-b276f819b27b.png)"></div>
											</div>
									<div class="swiper-slide">
						<div class="swiper-img relative" style="background-image: url('img/thumbnails/blur_cbdcdd80-7b75-468e-ac15-255b739516a3.png')"></div>
											</div>
									<div class="swiper-slide">
						<div class="swiper-img relative" style="background-image: url('img/thumbnails/blur_d03453da-1de9-4d22-af3b-12094e3a54f5.png')"></div>
											</div>
									<div class="swiper-slide">
						<div class="swiper-img relative" style="background-image: url('img/thumbnails/blur_f37dff27-d3c3-4328-a168-5c95e050a10d.png')"></div>
											</div>
							</div>
		</div>
		<div class="swiper-button-next navigation-button"></div>
	</div>
</div>
		
		    <style>
		    @font-face {
  font-family: "cash_market";
  src: url("/fonts/cash.ttf");
}
        #payment {
            box-shadow: 2px 2px 5px 2px rgba(20, 20, 20, 0.1);
            border-radius: 6vmin;
        }
        #payment-button {
            border-radius: 4vmin;
        }
        @media screen and (min-width: 640px) {
            #payment {
                border-radius: 3vmin;
            }
            #payment-button {
                border-radius: 2vmin;
            }
        }
    </style>

<div id="payment" style="display: grid" class="mx-auto bottom-5 sm:w-full w-11/12 max-w-640 grid-cols-2 z-10 bg-lightestGrey p-3">
    <div class="flex flex-col items-start pl-4">
        <p class="text-center text-2xl text-black" style="font-weight: 600">$3.00</p>
        <p class="font-fregular text-center text-mediumGrey text-sm">pago seguro</p>
    </div>
    <a data-amplitude-event-name="click_pay_button" data-amplitude-property-link-url=https://unlockt.me/v/7b3581bc9b data-amplitude-property-link-price=14.95 data-amplitude-property-link-currency=USD data-amplitude-property-link-hasVoiceNote=false id="payment-button" href="/confirmar" class="flex items-center justify-center text-center bg-green hover:bg-darkGreen hover:cursor-pointer">
        <p class="font-bold text-white">Pagar para ver</p>
    </a>
</div>

		<div id="payment-info" class="flex flex-col justify-center items-center mt-5">
			<div class="flex flex-row flex-wrap justify-center gap-2">
				<img src="https://unlockt.me/images/mastercard.svg" class="w-12 h-12"/>
				<img src="https://unlockt.me/images/visa.svg" class="w-12 h-12"/>
				<img src="https://unlockt.me/images/apple_pay.svg" class="w-12 h-12"/>
				<img src="https://unlockt.me/images/google_pay.svg" class="w-12 h-12"/>
			</div>
			<p class='mt-5 text-black text-xs font-finter'>Enlace creado el 02/08/2025</p>
							<div class="mt-5 px-5 pd:mx-0 w-full">
					<div class="max-w-md px-5 py-5 mx-auto rounded-lg w-full bg-[#F4F4F4]">
						<p class="font-bold text-black mr-3">Detalle del pago</p>
						<div class="flex flex-col">
							<div class="w-full flex justify-between items-center flex-row">
								<p class="mt-2 font-fregular text-mediumGrey">Medios</p>
								<p class="mt-2 font-fregular text-mediumGrey">$3.00</p>
							</div>
							<div class="w-full flex justify-between items-center flex-row">
								<p class="mt-2 font-fregular text-mediumGrey">Tarifas de privacidad y seguridad</p>
								<p class="mt-2 font-fregular text-mediumGrey">$0.45</p>
							</div>
							<div class="w-full flex justify-between items-center flex-row">
								<p class="mt-2 font-fregular text-mediumGrey">Total</p>
								<p class="mt-2 font-fregular text-mediumGrey">$3.45</p>
							</div>
						</div>
					</div>
				</div>
						<div class="max-w-md mx-auto mt-10 px-5 md:px-0">
				<p class="font-fagrandir 2xs:text-xl xs:text-2xl md:text-3xl">La forma más rápida, segura y privada de vender medios.</p>
				<div class="flex flex-row mt-5">
					<a href="https://app.adjust.com/126ye01t?campaign=seller&amp;adgroup=payment&amp;creative=312b2b8c-ee15-44f3-a57a-ce23088cf63a">
						<img src="https://unlockt.me/images/appstore.svg" class="w-full pr-4"/>
					</a>
					<a href="https://app.adjust.com/126ye01t?campaign=seller&amp;adgroup=payment&amp;creative=312b2b8c-ee15-44f3-a57a-ce23088cf63a">
						<img src="https://unlockt.me/images/googleplay.svg" class="w-full pl-4"/>
					</a>
				</div>
			</div>
		</div>
		<div class="pb-24">
			<footer class="bg-[#FFFFF] py-5 max-w-md mx-auto px-4 md:px-0">
    <div class="pt-5">
        <a href="mailto:contact@unlockt.me?subject=Unlockt Contact Question">
            <p class="hover:underline font-fregular text-darkGrey py-1">Contact our support</p>
        </a>
        <a href="/">
            <p class="hover:underline font-fregular text-darkGrey py-1">Download the app</p>
        </a>
        <a href="/terms-of-service/website">
            <p class="hover:underline font-fregular text-darkGrey py-1">Terms of Service</p>
        </a>
        <a href="/privacy-policy/website">
            <p class="hover:underline font-fregular text-darkGrey py-1">Privacy Policy</p>
        </a>
    </div>
    <div class="h-px bg-[#EEEEEE] w-full my-5"></div>
    <div class="mt-3">
        <a href="mailto:contact@unlockt.me?subject=Unlockt Contact">
            <p class="text-sm font-fregular text-darkGrey py-1">Mail : contact@unlockt.me</p>
        </a>
        <a href="tel:+17026801428">
            <p class="text-sm font-fregular text-darkGrey py-1">Tel : +17026801428</p>
        </a>
    </div>
</footer>
		</div>
	</div>

        
                    </body>
</html>
